@import 'libs/bootstrap-reboot.min';

.container{
    width: 962px;
    margin: 0 auto;
}
body{
    background: url(../img/bg.png) center center/cover no-repeat;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/size';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/contact';
@import 'blocks/media';