.btn{
    &__promo{
        width: 231px;
        padding: 17px 50px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.07);
        text-align: center;
        margin: 34px auto 63px auto;
        a{
            color:#FDC776;
        }
        
    }
}