.contact{
    margin: 0 auto;
    padding-top: 82px;
    padding-bottom: 10px;
    &__links{
        text-align: center;
        color:#FFFFFF6B;
    }
    &__host{
        text-align: center;
        color:#FFFFFF6B;
        padding-bottom: 36px;
        span{
            color:#FDC776;
        }
    }
}