.size{
    &_14{
        font-size: 14px;
    }
    &_48{
        font-size: 48px;
        line-height: 48px;
    }
    &_36{
        font-size: 36px;
        line-height: 36px;
    }
    &_20{
        font-size: 20px;
        line-height: 20px;
    }

    &_9{
        font-size: 9px;
        line-height: 9px;
    }
}